html{
    height: 100%;
    margin:0;  
    padding: 0;
background-image: linear-gradient( rgb(0, 112, 37),rgb(255, 255, 255,1) ); 
}
body{
  
    width: 100%;

}
#main{
   
    width:1200px;
    display: table;
    position: absolute;
   margin-top: 100px;
    
     border: solid 3px;
  font-size: 20px; 
 padding: 10px;
     bottom: 0;
  text-align: center;
  top: 30%;
    left: 50%;
    right: 50%;
    transform:translate(-50%,-30%) ;
    border-radius: 80px; 
} 

#block1{
width:50%;
display: table-cell;
padding: 10px;
margin: 5px;
}
#block2{
    width:50%;
    display: table-cell;
    padding: 10px;
    margin: 5px;

}
#aside1{
    border: 2px solid;
    margin: 5px;
    padding: 10px;
    padding-bottom:20px ;
    border-radius: 20px;
    
}
#aside2{
    border: 2px solid;
    margin: 5px;
    padding: 10px;
    padding-bottom:10px ;
    border-radius: 20px;
   
}
#h1{
    font-style:italic;
    font-size: 20px;
border: 3px solid;
margin: 5px;
padding: -20px;
border-radius: 20px;
box-shadow:-10px 8px 8px 8px rgb(110, 107, 107);
background-color: rgb(255, 255, 255);
color: rgb(2, 65, 31);
} 
input { 
    padding: 10px;
    margin: 5px;
    size: 100px;
    border-radius: 10px;
    box-shadow:-2px 2px 2px 2px rgb(83, 79, 79);
  margin-right: 10px;
list-style-position: right;
}
div{
  font-size: 25px;
  font-style: italic;
  text-align: left;
}
.div12{
    text-align: center;

}
#submit a {
list-style-type: armenian;
}
#submit{
    padding: 20px 50px;
    font-weight: bold;
    color: rgb(0, 0, 0) ;
    background: linear-gradient(0.25turn, #017a30, #ebf8e1, #017a30);
    font-size: 20px;
    font-style: italic;
}
#compte{
    width:500px;
    display: table;
    position: absolute;
   margin-top: 100px;
    top: -5%;
    left: 50%;
    transform:translate(-50%,5%) ;
    border: 3px solid;
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
    padding: 10px;
    border-radius: 10px;
    box-shadow:-2px 2px 2px 2px rgb(83, 79, 79);
    text-align: center;
    background-color: azure;
    color: rgb(3, 94, 45);
}
  #footer{ 
position: absolute;
background: linear-gradient(rgb(255, 255, 255,1),rgb(0, 112, 37));
padding: 10px;

left: 0;
right: 0; 
top:95%;
font-weight: bolder;
 }  
 .ajuste_label_input{
    display: inline-block; 
    width: 150px;

 }
 .ajuste_label_input2{
width:200px;
    display: inline-block; 
 
 }
 .divchek{
     font-size: 19px;
 }
 /* #resultat{

  margin-left: -4%;
   width: 1200px;
   border-radius: 80px;
border: 3px solid;
transform: translate(20%,250%);
top: -250%;
text-align: center;

 }
 .php{
     text-align: center;
 } */