html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;


}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;



}

li a {
  color: black !important;
}

#lire {
  text-align: end;
  padding: 20px 50px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: linear-gradient(0.25turn, #017a30, #ebf8e1, #017a30);
  font-size: 20px;
  font-style: italic;
}

#lire1 {
  text-align: end;
}

#main {
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;

}

#nav {

  display: table-cell;
  width: 60%;
  text-align: end;
  color: black;
  transform: translateX(80px);
}

#h1 {
  display: table-cell;
  text-align: center;
  width: 40%;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  /* transform: translateX(362px); */
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;

}

/* #logo{
width: 20%;
display: table-cell;
text-align: center;
/* transform: translateX(97px); 
margin:0;  
padding: 0;
left: 0;
right: 0;
margin: -10;
} */
/* #logoimg{
    width:200px;
  border:2px solid  ;
    /* transform: translateY(10px); 
} */
#compte {
  width: 100%;
  display: table;
  background: linear-gradient(0.25turn, #10c857, #ebf8e1, #10c857);
  border: 3px;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  left: 0;

  right: 0;

  z-index: 1200;
}

h6 {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #017a30;
  font-weight: bold;
  margin: 0;
  padding: 0;


}

#img4 {
  box-sizing: border-box;

  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;

}

#img7 {
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;

}

#main {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 25px 0;

}

#block1 {
  width: 20%;
  display: table-cell;

  padding: 25px;
  margin: 5px;
}


#block2 {
  width: 70%;
  display: table-cell;

}

#main2 {
  box-sizing: border-box !important;
  font-size: 15px;
  width: 100%;

  border-collapse: separate;
  border-spacing: 25px 0;
  display: table;
  padding-bottom: 50px;
  margin: 0;
}

#asid1 {
  display: table-cell;
  width: 33.33%;
  border-radius: 8px;
  box-shadow: -10px 8px 8px 8px rgb(110, 107, 107);
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

#asid2 {
  display: table-cell;
  width: 150px;
  border-radius: 8px;
  box-shadow: -10px 8px 8px 8px rgb(110, 107, 107);
  background-color: rgb(255, 255, 255);
  padding: 10px;



  border-radius: 20px;
}

#asid3 {
  display: table-cell;
  width: 150px;


  padding: 10px;

  border-radius: 8px;
  box-shadow: -10px 8px 8px 8px rgb(110, 107, 107);
  background-color: rgb(255, 255, 255);
}

#fig {
  width: 469px;
  height: 170px;
}

#cart {
  padding: 0;
  margin: 0;

}

#imgfitnes {
  width: 200px;

}

#cord {

  text-align: center;
  list-style: none;
  font-size: 20px;
  font-style: italic
}

#image img {
  width: 200px;
  float: left;

}

#image {
  padding: 0 50px;
  margin: 0 50px;
  font-size: 20px;
  font-style: italic;

}

#submit {
  font-weight: bold;

  font-size: 20px;
  font-style: italic;
  text-align: center;
  cursor: pointer;

}

input {
  padding: 10px;
  margin: 5px;
  size: 100px;
  border-radius: 10px;
  box-shadow: -2px 2px 2px 2px rgb(83, 79, 79);
  margin-right: 10px;
  list-style-position: right;
}

#div-submit {
  text-align: end;
}

#vd {
  text-align: center;

}

h3 {
  left: 0;
  right: 0;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  border-radius: 8px;
  box-shadow: -10px 8px 8px 8px rgb(110, 107, 107);
  background-color: rgb(255, 255, 255);
  color: rgb(2, 65, 31);
}

#button {
  text-align: center;
  cursor: pointer;
}

#form1 {

  width: 50%;
  display: table-cell;
  padding: 5px 30px;

  margin: 5px;
}

#form {
  width: 750px;
  display: table;
  margin: 25px auto;
  margin-top: 80px;
  border: 3px;
  border-radius: 20px;
  box-shadow: 0 8px 8px rgb(110, 107, 107);
  font-size: 20px;



  border-radius: 80px;

}



#form2 {
  width: 50%;
  display: table-cell;
  padding: 0 30px;

  margin: 5px;

}

#formbtn {
  text-align: center;
  margin: 0;
  padding: 0;
}

h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  color: #017a30;
}

h5 {
  font-size: 25px;
  font-style: italic;
}

ul li {
  display: inline;
  list-style: none;
  padding: 10px;
}

ul li a {
  text-decoration: none;

}

#rslt {
  display: table;
  width: 100%;
}

#rslt span {
  display: table-cell;
  width: 80px;
  font-size: 20px;
}

/* #resultat h1 {


  transform: translateY(-8px);
}

#resultat{
  margin-left:750px;

     width:800px;
 text-align: center;
   bottom: 0;
    border: solid 1px;
    background-image: linear-gradient(  rgba(255, 255, 255, 0.5),rgba(206, 11, 11,1) 100%);
 
  
 

   
 } */
#footer {
  position: relative;
  background: linear-gradient(rgb(255, 255, 255, 1), rgb(0, 112, 37));

  text-align: center;
  display: inline-block;

  width: 100%;
  font-weight: bolder;
}


table {

  width: 100%;


  margin-top: 15px;
}

td,
th

/* Mettre une bordure sur les td ET les th */
  {
  box-shadow: 4px 4px 4px rgb(110, 107, 107);


}

.modal-content {
  margin: 200px auto;
}

table tr {
  text-align: center;
  padding: 15px;

}

tbody {

  background: linear-gradient(0.25turn, #10c857, #ebf8e1, #10c857);
}


details {
  text-decoration-style: none;

  cursor: pointer;



}


summary {

  font-weight: bold;
  border: #017a30 solid 2px;
  border-radius: 6px;
  box-shadow: #07632a 0 8px 8px;

  text-align: center;

  text-decoration: none;
}